li{
    display: block;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 3px;
    color: black;
    height: 30px;
    line-height: 30px;
    width: 20%;
    margin-top: 2px;
    margin-bottom: 2px;
}

li:hover{
    color:blue;
}

li:active{
    color:red;
}